[user]
	email = jonathan_schneider@posteo.net
	name = Jonathan Schneider
[merge]
  tool = nvimdiff
[diff]
  tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
    editor = nvim
[init]
	defaultBranch = main
