XTerm*faceName:IBM Plex Mono:size=10
**faceName:IBM Plex Mono:size=10

XTerm*saveLines: 4096
XTerm*renderFont:true
XTerm*forcePackedFont:true
XTerm.termName: xterm-256color
xterm*bellIsUrgent:true
xterm*background: gray12
xterm*foreground: snow2

Xft.antialias:  true
Xft.hinting:    true
Xft.autohint:   1
Xft.dpi:        96
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

Xcursor.theme:Adwaita
Xcursor.size: 32
